git+https://github.com/KurimuzonAkuma/pyrogram.git
tgcrypto
aiohttp>=3.8.0,<4.0.0
python-dotenv
motor
aiofiles
shortzy
dnspython
apscheduler
requests
psutil
pytz
pyromod
pyrofork==2.3.50
pymongo
aiohttp_jinja2
